<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Casting Agency</title>
  </head>
  <body>
    <div class="users">
      <h2>Possible users (email and password)</h2>
      <div class="user">
        <h4>Assistant</h4>
        <ul>
          <li>assistant@agency.com</li>
          <li>abcd1234**</li>
        </ul>
      </div>
      <div class="user">
        <h4>Director</h4>
        <ul>
          <li>director@agency.com</li>
          <li>abcd1234**</li>
        </ul>
      </div>
      <div class="user">
        <h4>Producer</h4>
        <ul>
          <li>producer@agency.com</li>
          <li>abcd1234**</li>
        </ul>
      </div>
      <a
        href="https://fbfdestro.us.auth0.com/authorize?audience=casting-agency&response_type=token&client_id=y0Gnswv1AoQCcyu1euwHUYLAwnMZrcUZ&redirect_uri=https://fbfdestro-casting-agency.herokuapp.com/callback"
        target="_blank"
        >Login</a
      >
      <span
        >To login into multiple accounts at the same time, you can use different incognito
        windows</span
      >
    </div>
    <hr />
    <div class="endpoints">
      <h2>Endpoints</h2>
      <h4>Assistant</h4>
      <ul>
        <li>Get list of movies: GET: /movies</li>
        <li>Get movie: GET: /movies/:id</li>
        <li>Get list of actors: GET: /actors</li>
        <li>Get actor: GET: /actors/:id</li>
      </ul>
      <h4>Director</h4>
      <ul>
        <li>Add actor: POST: /actors</li>
        <li>Delete actor: DELETE /actors</li>
        <li>Modify movie: PATCH: /movies</li>
        <li>Modify actor: PATCH /actors</li>
      </ul>
      <h4>Producer</h4>
      <ul>
        <li>Add movie: POST: /movies</li>
        <li>Delete movie: DELETE /movies</li>
      </ul>
    </div>
  </body>
</html>
